* {
  box-sizing: border-box;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.checkout {
  display: flex;
  gap: 5px;
  flex-direction: column;
  max-width: 350px;
  padding: 5px;
  background-color: cadetblue;
}

.tab-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  font-size: 1.3em;
}
.tab-list li {
  padding: .5em 0;
  border: 2px solid black;
  flex: 1;
  text-align: center;
  transition: flex 1s;
  cursor: pointer;
}
.tab-list li.is-active {
  flex: 2;
}


.content-list {
  display: flex;
  border: 2px solid black;
  width: 100%;
  overflow: hidden;
}
.content-item {
  display: none;
  background-color: rgb(196, 146, 146);
  width: 100%;
  padding: 3em 0;
  text-align: center;
}

.is-active {
  display: block;
}